# Ignore all no extension files except for LICENSE
*
!/**/
!*.*
!LICENSE-MIT
!LICENSE-APACHE

# Ignore latex auxiliary files
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.dvi
